@import 'src/assets/styles/variables';

.header {
    max-width: $mobile;
    margin: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px 30px 0 30px;

        .back {
            border: none;
            outline: none;
            background: transparent;
        }
    }

    .heading {
        margin: 150px 0 0;
        border-bottom: 3px solid $light-brown;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 0 0 15px 30px;
        display: flex;
        align-items: center;
        gap: 15px;

        .headingTitle {
            color: #F1E8E8;
            font-size: 30px;
            font-family: $default-font;
            font-weight: 700;
            line-height: 130.187%;
            text-transform: uppercase;
            margin: 0;
        }
    }
}