@import 'src/assets/styles/variables';

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    max-width: $mobile;
    margin: 0 auto;

    .buttonNew {
        width: 146px;
        height: 66px;
        background-color: $black;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $white;
        margin: 0 0 36px 0;
        border-radius: 8px;
        cursor: pointer;
    }

    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 130.19%;
        text-align: center;
        text-transform: uppercase;
        color: #F1E8E8;
        margin: 0 0 42px 0;
    }
}