@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700;800;900;1000&display=swap');

$accent: #B53471;
$white: #F1E8E8;
$brown: #310C24;
$black: #1A0612;
$light-brown: #511734;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Sofia Sans';

$mobile: 500px;