@import 'src/assets/styles/variables';

.auth {
    padding: 50px 30px 0 30px;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .buttons {
            display: flex;
            gap: 30px;

            .button {
                width: 130px;
                height: 50px;
                background-color: $light-brown;
                border: none;
                outline: none;
                font-family: $default-font;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                color: $white;
                margin: 0 0 36px 0;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}