@import 'src/assets/styles/variables';

.field {
    .input {
        width: 320px;
        background-color: $light-brown;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 28px;
        color: $white;
        font-family: $default-font;
        padding: 10px;
        border-radius: 8px;
    }

    .error {
        font-size: 16px;
        line-height: 28px;
        color: #b53454;
        font-family: $default-font;
        margin: 5px 0 0;
    }
}